.news-results__tittle {
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0px 80px 64px 104px;
}
.card-list {
  display: grid;
  column-gap: 16px;
  row-gap: 8px;
  grid-template-columns: 400px 400px 400px;
  margin: 0px auto;
  padding: 0px;
}
.card-list__element{
  list-style: none;
max-width: fit-content;
  margin: 0px;
}
.news-results {
  display: flex;
  flex-direction: column;
  background: #f5f6f7;
  /* margin-top: 80px; */
  padding-top: 20px;
}
.news-results__btn {
  background: #ffffff;
  border-radius: 80px;
  height: 64px;
  width: 288px;
  margin: 56px auto 80px;
  border: 0;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.news-results__btn:hover {
  background: #e8e8e8;
  opacity: 0.9;
}
@media screen and (max-width: 1233px) {
  .card-list {
    column-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .news-results__btn {
    height: 56px;
    width: 240px;
  }
}
@media screen and (max-width: 1200px) {
  .news-results__tittle {
    font-size: 30px;
    line-height: 34px;
    margin: 20px 40px 32px;
    
  }
}
@media screen and (max-width: 740px) {
  .news-results__tittle {
    margin: 0 16px 58px;
  }
}
@media screen and (max-width: 740px) {
  .news-results {
    margin-top: 0px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .news-results {
    margin-top: 0px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 740px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 740px) {
  .news-results__btn {
    width: 288px;
    margin-top: 21px;
    margin-bottom: 24px;
  }
}
