.card {
  position: relative;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}
.card__img {
  object-position: center;
  object-fit: cover;
  max-width: 400px;
  height: 272px;
  border-radius: 10px 10px 0px 0px;
}
.card__date {
  font-family: "Source Sans Pro ",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 17px 0 15px 24px;
}

.card__tittle {
  max-width: 352px;
  margin: 0 auto 16px;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
.card__text {
  max-width: 352px;
  margin: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}
.card__src {
  margin: 18px 24px 24px;
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
.card__btn {
  position: absolute;
  right: 24px;
  top: 24px;
  background: #ffffff;
  border-radius: 8px;
  background-image: url("../../image/Rectangle\ 9-min.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position: center;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}

.card__btn:hover {
  background-image: url("../../image/Rectangle\ 8-min.svg");
}

.card__btn-clicked {
  background-image: url("../../image/blue\ reck-min.svg");
}

.card__btn-clicked:hover {
  background-image: url("../../image/blue\ reck-min.svg");
}
.card__btn-saved {
  position: absolute;
  right: 24px;
  top: 24px;
  background: #ffffff;
  border-radius: 8px;
  background-image: url("../../image/Group\ 12-min.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position: center;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}
.card__btn-saved:hover {
  background-image: url("../../image/trash-min.svg");
}

.card__link {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  margin: 0;
  right: 69px;
  top: 24px;
  background: #ffffff;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  max-width: 182px;
  height: 40px;
}

.card__tag {
  position: absolute;
  left: 24px;
  top: 24px;
  border-radius: 8px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 1248px) {
  .card {
    max-width: 224px;
    max-height: 420px;
  }
}
@media screen and (max-width:1248px) {
  .card__img {
    max-width: 224px;
max-height: 150px;
  }
}

@media screen and (max-width: 1248px) {
  .card__date {
margin-top: 20px;
margin-bottom: 8px;
margin: 16px 15px 8px;
  }}
@media screen and (max-width: 1248px) {
  .card__tittle {
    font-size: 22px;
    line-height: 24px;
    max-width: 192px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1248px) {
  .card__src {
margin: 12px 16px 16px;
  }
}


@media screen and (max-width: 1248px) {
  .card__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-width: 192px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 740px) {
  .card {
    max-width: 288px;
    max-height: 440px;
  }
}
@media screen and (max-width: 740px) {
  .card__img {
    max-width: 288px;
    max-height: 196px;
  }
}
@media screen and (max-width: 740px) {
  .card__date {
margin-top: 16px;
margin-bottom: 10px;
  }
}

@media screen and (max-width:740px) {
  .card__text {
    margin-bottom: 8px;
    max-width: 256px;
  }
}
@media screen and (max-width:740px) {
  .card__tittle {
max-height: 48px;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
max-width: 256px;
  }
}