.card {
  position: relative;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__img {
  object-position: center;
  object-fit: cover;
  max-width: 400px;
  height: 272px;
  border-radius: 10px 10px 0px 0px;
}
.card__date {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-left: 24px;
  margin: 20px 24px 12px;
}

.card__tittle {
  max-width: 352px;
  margin: 0 auto 16px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}
.card__text {
  max-width: 352px;
  margin: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}
.card__src {
  margin: 18px 24px 24px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
.card__btn {
  position: absolute;
  right: 24px;
  top: 24px;
  background: #ffffff;
  border-radius: 8px;
  background-image: url("../../image/Rectangle\ 9-min.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position: center;
  padding: 0;
  margin: 0;
  border: 0;
}

.card__btn:hover {
  background-image: url("../../image/Rectangle\ 8-min.svg");
}

.card__btn_clicked {
  background-image: url("../../image/blue\ reck-min.svg");
}

.card__btn_clicked:hover {
  background-image: url("../../image/blue\ reck-min.svg");
}
.card__btn_saved {
  position: absolute;
  right: 24px;
  top: 24px;
  background: #ffffff;
  border-radius: 8px;
  background-image: url("../../image/Group\ 12-min.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position: center;
  padding: 0;
  margin: 0;
  border: 0;
}
.card__btn_saved:hover {
  background-image: url("../../image/trash-min.png");
}

.card__link {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  margin: 0;
  right: 69px;
  top: 24px;
  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  max-width: 182px;
  height: 40px;
}

.card__tag {
  position: absolute;
  left: 24px;
  top: 24px;
  border-radius: 8px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 1200px) {
  .card {
    max-width: 224px;
  }
}
@media screen and (max-width: 1200px) {
  .card__img {
    max-width: 224px;
  }
}

@media screen and (max-width: 1200px) {
  .card__tittle {
    font-size: 22px;
    line-height: 24px;
    max-width: 192px;
  }
}

@media screen and (max-width: 1200px) {
  .card__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-width: 192px;
  }
}
@media screen and (max-width: 740px) {
  .card {
    max-width: 288px;
  }
}
@media screen and (max-width: 740px) {
  .card__img {
    max-width: 288px;
  }
}