.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    border-bottom: 2px rgba(196, 196, 196, 0.1) solid;

}


.navigation__butenes {
  display: flex;
  flex-direction: row;
}

.navigation__header {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 200px;
  height: 24px;
}
