.about {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
}
.about__content {
  display: flex;
  width: 600px;
  flex-direction: column;
  margin-left: 56px;
}
.about__tittle {
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
  margin-bottom: 24px;
}
.about__text {
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}
.about__img{
width: 464px;
height: 464px;
}

@media screen and (max-width:1200px) {
.about__img{
  width: 232px;
height: 232px;
}
}
@media screen and (max-width:1200px) {
  .about__tittle{
    font-size: 30px;
    line-height: 40px;
  }
  }

@media screen and (max-width:1200px) {
  .about__content{
    max-width: 424px;
    margin-left: 32px;
  }
  }
  
@media screen and (max-width:740px) {
  .about__content{
    max-width: 288px;
    margin: auto;
  }
  }
  

@media screen and (max-width:740px) {
.about{
flex-direction: column;
padding-bottom: 108px;
padding-top: 0;
}
  }

@media screen and (max-width:740px) {
.about__tittle{
margin:0;

  }
  }
@media screen and (max-width:740px) {
.about__text{
margin: 0;
margin-top: 16px;
  }
  }
  @media screen and (max-width:740px) {
    .about__img{
margin: 24px auto 24px;
width: 272px;
height: 272px
    }
    }