.footer {
    box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left:  104px; 
  padding-right :106px; 
  padding-top: 32px;
  padding-bottom: 26px ;
  max-height: 80px;
  align-items: center;
}
.footer__content{
  display: flex;
  align-items: center;
}

.footer__tittle {
  font-family: "Roboto Slab,Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
margin: 0;
  color: #b6bcbf;
}
.footer__links {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 21px 0 ;
  justify-content: space-around;
  cursor: pointer;
  
}
.footer__links_text {
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  margin-right: 46px;
  cursor: pointer;
}
.footer__links_btn :nth-child(2) {
  margin-left: 27px;
  text-decoration: none;
 
}
@media screen and (max-width: 1200px)  {
  .footer__tittle{
    min-width: 300px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 1200px)  {
  .footer__links :nth-child(2){
 min-width: 176px;
 margin: 0 16px;
  }
}
@media screen and (max-width: 1200px)  {
  .footer__links{
padding-left: 28px;

  }
}
@media screen and (max-width: 1200px)  {
  .footer__links_text{
margin: 0;

  }
}
@media screen and (max-width: 1200px)  {
  .footer__content{
    margin-right: 41px;
    text-align: start;

  }
}
@media screen and (max-width: 1200px)  {
  .footer{
padding: 0;
justify-self: unset;
margin: 0;

  }
}
@media screen and (max-width: 740px)  {
  .footer{
flex-direction: column-reverse;
max-height: 176px;
padding-top: 20px;
padding-bottom: 22px;

  }
}
@media screen and (max-width: 740px)  {
  .footer__links{
  display: block;
   padding: 0;
   margin: 0 18px 38px 0;
   line-height: 48px;

  }
}
@media screen and (max-width: 740px)  {
  .footer__links :nth-child(2){
 min-width: 165px;
 margin: 0 ;
  }
}
@media screen and (max-width: 740px)  {
 .footer__content{
margin: 0;
justify-content: space-around;
align-items: baseline;
  }
}
@media screen and (max-width: 740px)  {
  .footer__tittle{
    min-width: 288px;
    margin :auto;
  }
}
@media screen and (max-width: 740px)  {
  .footer__links_btn{
justify-self: start;
  }
}