.search-from__tittle {
  font-family: "Roboto Slab,Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  margin: 80px auto 32px;
}
.search-from__sub-tittle {
  font-family: "Roboto", "inter", Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 88px;
}

.search-from {
  max-width: 608px;
  margin: auto;
}
.search-from__input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 608px;
  border-radius: 100px;
  height: 64px;
  border: 0px;
  padding-left: 24px;
  font-family: "Roboto ,Arial, Helvetica, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #1a1b22;
}

.search-from__input:focus {
  border: none;
  outline: none;
}
.search-from__btn {
  font-family: "Roboto", "inter", Arial;
  position: relative;
  right: 168px;
  min-width: 168px;
  height: 64px;
  border-radius: 100px;
  text-align: center;
  border: 0px;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: #ffffff;
  cursor: pointer;
}

.search-from__btn:hover {
  background: #347eff;
}
.search-from__search-bar {
  display: flex;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .search-from__tittle {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin: 80px 0px 32px;
  }
}
@media screen and (max-width: 1200px) {
  .search-from__sub-tittle {
    max-width: 452px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1200px) {
  .search-from {
    max-width: 448px;
  }
}
@media screen and (max-width: 1200px) {
  .search-from__btn {
    height: 56px;
    min-width: 160px;
    right: 160px;
  }
}
@media screen and (max-width: 1200px) {
  .search-from__input {
    height: 56px;
   min-width: 448px;
  }
}
@media screen and (max-width: 740px) {
  .search-from__tittle{
margin: 30px 16px 16px 19px;
  }
}
@media screen and (max-width: 740px) {
  .search-from__sub-tittle {
    margin:16px;
  }
}
@media screen and (max-width: 740px) {
  .search-from__btn {
    height: 56px;
    max-width: 288px;
    right: 0;
    margin-top: 16px;
  }
}
@media screen and (max-width: 740px) {
  .search-from__search-bar{
flex-direction: column;
max-width: 288px;
margin: 122px auto 0;
  }
}
@media screen and (max-width: 740px) {
  .search-from__input {
    height: 56px;
  min-width: 288px;
  }
}