.navigation {
  display: flex;
  justify-content: space-between;
align-items: center;
padding-top: 10px;
  margin: 0px;
  border-bottom: 2px rgba(196, 196, 196, 0.1) solid;
}
.navigation_dark {
  border-bottom: 2px #d1d2d6 solid;
}

.navigation__btn-menu {
  display: none;
}

.navigation__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.navigation__header {
  font-family: "Roboto Slab",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 200px;
  height: 24px;
  margin-left: 104px;
  color: #ffffff;
  margin-bottom: 26px;
  margin-top: 20px;

}
.navigation__header_dark {
  color: rgba(26, 27, 34, 1);
}

.navigation__links-tittle {
  font-family: "Roboto", "inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
line-height: 24px;
  text-decoration: none;
  margin-right: 34px;
  color: #ffffff;
  border-bottom: 2px #ffff solid;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
}

.navigation__links-tittle_dark {
  color: black;
  border-bottom: none;
  font-weight: 500;

}

.navigation__links-tittle-save-article {
  font-family: "Roboto", "inter", Arial;
  text-decoration: none;
  font-size: 18px;
line-height: 24px;
  color: #b6bcbf;
  padding-bottom: 23px;
  width: 140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 32px;
font-weight: 500;
font-style: normal;
}

.navigation__links-tittle-save-article_dark {
  color: black;
  border-bottom: 3px black solid;


}

.navigation__links {
  margin: 0;
  padding: 0;
}

.navigation__btn-signin {
  font-family: "Roboto", "inter", Arial;
  border: 1px solid #ffffff;
  border-radius: 100px;
  width: 176px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  padding: 0;
  height: 48px;
  margin-right: 104px;
  cursor: pointer;
}

.navigation__btn-signout {
  box-sizing: border-box;
  padding: 10px;
  font-family: "Roboto", "inter", Arial;
  border: 1px solid #ffffff;
  border-radius: 100px;
  width: 112px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  height: 48px;
  margin-right: 104px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.navigation__btn-signout::after {
  content: url(../../image/logout-min.svg);
  float: right;
  margin-right: 5px;
}

.navigation__btn-signout_dark {
  content: url(../../image/logoutBlack-min.svg);
  color: black;
  border: 1px solid black;
}

.navigation__btn-signout_dark::after {
  content: url(../../image/logoutBlack-min.svg);
}

@media screen and (max-width: 1200px) {
  .navigation__btn-signin {
    margin-right: 40px;
    width: 152px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .navigation__btn-signout {
 width: 100px;
 height: 40px;
 padding: 0;
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 8px;

  }
}
@media screen and (max-width: 1200px) {
  .navigation__btn-signout_dark {

margin: 4px 40px 9px 0px;

  }
}
@media screen and (max-width: 1200px) {
  .navigation__links-tittle {
  padding-left: 10px;
  padding-right: 10px; 
  margin-right: 16px;
  padding-bottom: 17px;
  }
}
@media screen and (max-width: 1200px) {
  .navigation__header {
    margin: 0;
    margin-left: 40px;
  }
}
/* need to be on  */
@media screen and (max-width: 740px) {
  .navigation__buttons {
    display: none;

  }
}
@media screen and (max-width: 740px) {
  .navigation__btn-menu {
    background-image: url("../../image/menu-min.svg");
    background-position: center;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    align-self: center;
    margin-right: 16px;
  }
}

@media screen and (max-width: 740px) {
  .navigation__btn-menu_close {
    background-image: url("../../image/close-min.svg");
    position: absolute;
top: 16px;
right: 16px;
margin: 0;
  }
}

.overly{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */

}



  .navigation__btn-menu_black {
    background-image: url("../../image/menu-black-min.svg");


  }

@media screen and (max-width: 740px) {
  .navigation__header {
    margin: 16px;
  }
}
@media screen and (max-width: 740px) {
  .navigation__btn-signout  {
 width: 288px;
 height: 56px;

margin: 0;
margin-top: 22px;
  }
}
@media screen and (max-width: 740px) {
  .navigation__btn-signin {
 width: 288px;
 height: 56px;

margin: 0;
margin-top: 22px;
  }
}

@media screen and (max-width: 740px) {
  .navigation__links-tittle-save-article {
    font-size: 18px;
line-height: 56px;
    margin: 0;
    color: white;
    font-weight: 500;
    padding: 0;
    
  }
}
@media screen and (max-width: 1200px) {
  .navigation__links-tittle-save-article_dark {
  font-weight: 500;
    font-size: 16px;
line-height: 24px;
padding-bottom: 17px;
    
  }
}

.navigation__buttons_menu {
  display: block;

  padding: 0;
  border-top: 2px rgba(196, 196, 196, 0.1) solid;
margin: 0 0 24px 16px;
}
.navigation_menu {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;

}
@media screen and (max-width: 740px) {
  .navigation__links-tittle  {
    font-size: 18px;
line-height: 56px;
    margin: 0 0 22px 0;
    border-bottom:0;
    padding: 0;
  
  }
}