.preloader{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 80px;
   padding-bottom: 80px;
}
.preloader__img{
    margin: 0 0 24px;
}
.preloader__text{
margin: 0;
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #B6BCBF;

}
.preloader__tittle{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 30px;
text-align: center;
color: #1A1B22;
margin: 16px 0 16px;
}
.circle-preloader {
	display: block;
	width: 50px;
	height: 50px;
	border: 4px solid #444;
	border-bottom-color: #888;
	
	border-radius: 50%;
		
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}